body{
    margin: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide{
    padding: 0;
    margin: 0;
    display: flex;
    transform: translate3d(0,0,0);
}
.slide img{
    width: 100%;
}
.slide li{
    width: 400px;
   
}
